body{
    background-color: aqua;
}
#parent{
    
    background-color: antiquewhite;
    display: flex;
}
.card{
    height: 100px;
    width:100px;
    background-color: blue;
    margin: 10px;
}
.h{
    text-decoration: underline;
    text-align: center;
}
#body1{
    background-color:rgb(49, 49, 49);
    margin: 0%;
}
#plybut{
    height:50px;
    width:250px;
    background-color: whitesmoke;
    font-size: 30px;
    text-align: center;
    border:none;
    border-radius: 10px;
    margin:10px;
}
#bt{
    height:45px;
    width:330px;
    font-size: 40px;
    color:whitesmoke;
    text-align: center;
    float:right;
}
#h1{
    color:whitesmoke;
    text-align: center;
    font-size: 60px;
    margin: 0px;
}
#hr{
    height: 8px;
    background-color: whitesmoke;
    border: none;
}
#ques{
    background-color: whitesmoke;
    font-size: 60px;
    text-align: center;
    width:150px;
    height: 110px;
    margin: 0%;
    position:relative;
    z-index:1;
    left:45%;
    top:-80px;
    padding-top: 30px;
}
#input{
    border:5px solid whitesmoke;
    background-color:black;
    color:whitesmoke;
    text-align: center;
    font-size: 50px;
    height: 110px;
    width: 250px;
    position:relative;
    left:16%;
}
#guess{
    float:right;
    color:whitesmoke;
    font-size: 40px;
    width:550px;
}
#check{
    background-color: whitesmoke;
    border: none;
    border-radius: 20px;
    height: 60px;
    width: 110px;
    text-align: center;
    font-size: 20px;
    position: relative;
    left:21%;
}
#p{
    float: right;
    width:550px;
    font-size: 25px;
    color: whitesmoke;

}
#img{
    position: relative;
    left: 733px;
    top: -21px;

}
#medel{
    position: relative;
    left: 705px;
    top: 38px;
}
#shtml{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    margin: 32px;
    position: relative;
    left: 428px;
    top: 10px;
}
#shtml1{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: black;
    color: #6e808f;
    margin: 32px;
    position: relative;
    left: 428px;
    top: 174px;
}